* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #5036B8;
  font-family: sans-serif;
  font-weight: 400;
  color: #000000;
  font-style: normal;
}

a {
  text-decoration: none;
}