.keyDescription {
    margin-bottom: 2vh;
}

.key {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;

    .secretKey {
        width: 32vw;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 2vh;
        background-color: #F9F9F9;
        border: 1px solid #B9B9B9;
        border-radius: 2vh;

        .copyIcon {
            display: inline-block;
            width: 3vh;
            aspect-ratio: 1/1;
            background-image: url('../../../assets/images/copy.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
        }
    }
    
    .updateButton {
        padding: 2vh 2vh;
        font-size: 2.5vh;
        border: 0px;
        border-radius: 2vh;
        background-color: #a089fd;
        color: #FFFFFF;
        cursor: pointer;
    
        &:hover {
            background-color: #9076f8;
            transition: all 0.1s ease-in-out;
        }
    }
}