.events {
    padding: 5vh 20vh;

    h2 {
        font-size: 4vh;
        font-weight: 700;
        text-align: center;
    }

    .heroEvent {
        display: flex;
        justify-content: start;
        column-gap: 25vh;
        align-items: center;
        margin: 10vh 0;

        .heroImage {
            width: 60vh;
            height: 70vh;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .otherEvents {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 10vh;
        column-gap: 5vh;
        margin: 10vh 0;
    }
}