.event {
    width: 50vh;
    height: 70vh;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border-radius: 2vh;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    justify-content: space-between;
    color: #000000;
    text-decoration: none;
    cursor: pointer;

    .eventTitle {
        font-weight: 700;
        font-size: 3vh;
    }

    .eventDate,
    .eventTime {
        display: inline-block;
        margin-right: 2vh;
    }

    .eventImage {
        align-self: center;
        width: 100%;
        height: 35vh;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &:hover {
        transform: translate(0px, -10px);
        transition: all 0.1s ease-in-out;
    }
}