.profilePage {
    padding: 4vh;
    display: flex;
    justify-content: space-between;
    height: 100%;

    .profileInfo {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 4vh;

        .greeting {
            margin-left: 5%;

            h2 {
                font-size: 4vh;
                margin: 2vh 0;
                line-height: 7vh;
            }

            h3 {
                font-size: 3vh;
                color: #8C8888;
            }
        }

        .profileCard {
            background-color: #EFF1FF;
            height: 75%;
            margin-top: auto;
            border-radius: 6vh;
            padding: 3vh;

            .profileBackImage {
                height: 25vh;
                width: 100%;
                border-radius: 4vh;
                background-image: url('../../assets/images/profile/profileCardBackground.jpg');
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                margin-bottom: 10vh;

                .profileImage {
                    position: absolute;
                    width: 15vh;
                    height: 15vh;
                    background-color: #FFF;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 4vh;
                    left: 10%;
                    bottom: -20%;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.9;
                    }
                }

                .imageInput {
                    visibility: hidden;
                    position: absolute;
                }
            }

            .name {
                font-weight: 500;
                font-size: 3vh;
                margin: 1vh 0 0 5vh;

                p {
                    display: inline-block;
                    margin-right: 3vh;
                }

                input {
                    display: inline-block;
                    background: #FFF;
                    border: 0;
                    width: 10vw;
                    border-radius: 1vh;
                    margin: 0vh 2vw;
                    padding: 1vh;
                    font-size: 2vh;
                    visibility: hidden;
                    position: absolute;
                }

                button {
                    display: inline-block;
                    padding: 1vh;
                    border: 0px;
                    border-radius: 1vh;
                    padding: 1vh 3vh;
                    font-size: 2vh;
                    background-color: #a089fd;
                    color: #FFFFFF;
                    cursor: pointer;
                    visibility: hidden;
                    position: absolute;
                }

                span {
                    display: inline-block;
                    width: 2.5vh;
                    aspect-ratio: 1/1;
                    background-image: url('../../assets/images/profile/blackEdit.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    cursor: pointer;
                }

                &.activeEdit {  
                    p {
                        visibility: hidden;
                        position: absolute;
                    }

                    span {
                        display: inline-block;
                    }
    
                    input {
                        visibility: visible;
                        position: static;
                    }
    
                    button {
                        visibility: visible;
                        position: static;
                    }
                }
            }

            .trainsAndHonors {
                display: flex;
                justify-content: space-between;
                margin: 5vh 0 0;
                padding: 0 4vh;
                height: 20%;

                .trains,
                .honors {
                    position: relative;
                    width: 8vw;
                    height: 100%;
                    background-color: #FFFFFF;
                    border-radius: 2vh;
                    color: #8C8888;
                    font-size: 1.7vh;
                    padding: 2vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    span {
                        display: block;
                        font-size: 4vh;
                        font-weight: 700;
                        color: #5036B8;
                        margin-bottom: 2vh;
                    }
                }
            }
        }
    }

    .profileStatistics {
        background-color: #EFF1FF;
        width: 65%;
        height: 100%;
        border-radius: 5vh;
        padding: 4vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .features {
            display: flex;
            justify-content: space-between;
            height: 25%;

            .profileExperience {
                width: 45%;
                position: relative;
                background-color: #FFFFFF;
                border-radius: 4vh;
                padding: 3vh;
                display: flex;
                align-items: center;
                column-gap: 2vh;

                div {
                    display: inline-block;
                    background-image: url('../../assets/images/profile/profileExp.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100%;
                    aspect-ratio: 1/1;
                    border-radius: 5vh;
                }

                p {
                    display: inline-block;
                    font-weight: 700;
                    font-size: 5vh;
                    color: #5036B8;
                }
            }

            .motto,
            .target {
                width: 21%;
                border-radius: 4vh;
                color: #FFFFFF;
                padding: 2vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                font-size: 2vh;

                .edit {
                    display: inline-block;
                    width: 2.5vh;
                    aspect-ratio: 1/1;
                    margin-left: 2vh;
                    background-image: url('../../assets/images/profile/whiteEdit.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    cursor: pointer;
                }

                span {
                    font-size: 4vh;
                }

                h3 {
                    font-weight: 700;
                }

                p {
                    word-break: break-all;
                    overflow-wrap: break-word;
                }

                input {
                    background: #FFF;
                    border: 0;
                    border-radius: 3vh;
                    margin-bottom: 1vh;
                    font-size: 2vh;
                    padding: 0.5vh;
                    visibility: hidden;
                    position: absolute;
                }

                button {
                    padding: 1vh;
                    border: 0px;
                    border-radius: 3vh;
                    font-size: 2vh;
                    background-color: #a089fd;
                    color: #FFFFFF;
                    cursor: pointer;
                    visibility: hidden;
                    position: absolute;
                }

                &.activeEdit {
                    p {
                        visibility: hidden;
                        position: absolute;
                    }
    
                    input {
                        visibility: visible;
                        position: static;
                    }
    
                    button {
                        visibility: visible;
                        position: static;
                    }
                }
            }

            .motto {
                background-color: #FFC27B;
            }

            .target {
                background-color: #ED7BFF;
            }
        }

        .activity {
            height: 70%;
            background-color: #FFFFFF;
            border-radius: 5vh;
            background-image: url('../../assets/images/profile/activity.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}