ul {
    li {
        display: flex;
        justify-content: space-between;
        padding: 1.5vh;
        margin: 3vh 0 2vh;
        background-color: #F9F9F9;
        border: 1px solid #B9B9B9;
        border-radius: 0.5vw;

        .checkbox {
            margin: 0;
            appearance: none;
            width: 3vh;
            height: 3vh;
            border: 0.2vh solid #ccc;
            border-radius: 0.5vh;
            outline: none;
            cursor: pointer;
            position: relative;

            &:checked {
                background-color: #a089fd;
                border-color: #929292;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0.7vh;
                    top: 0.2vh;
                    width: 0.7vh;
                    height: 1.4vh;
                    border: solid white;
                    border-width: 0 0.5vh 0.5vh 0;
                    transform: rotate(45deg);
                }
            }
        }
    }
}

.saveButton {
    display: flex;
    justify-content: space-between;
    margin: 1vh auto 0;
    padding: 2vh 10vh;
    font-size: 3vh;
    border: 0px;
    border-radius: 2vh;
    background-color: #a089fd;
    color: #FFFFFF;
    cursor: pointer;

    &:hover {
        background-color: #7955fb;
        transition: all 0.1s ease-in-out;
    }
}