.news {
    padding: 5vh 10vh;
    
    .title {
        font-weight: 600;
        font-size: 5vh;
        line-height: 6vh;
        text-align: center;
    }
    
    .heroImage {
        width: 70vw;
        height: 70vh;
        background-image: url('../../assets/images/news/heroImageNews.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin: auto;
    }
    
    .newsTitle {
        font-weight: 600;
        font-size: 4vh;
        text-align: center;
        margin: 7vh 0;
    }
    
    .newsList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 7vh;
    }
}