.groupSelect {
    height: 5vh;
    background-color: #F9F9F9;
    border: 1px solid #B9B9B9;
    border-radius: 0.5vw;
    margin-bottom: 2vh;
    font-size: 1.5vw;
}

.dates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    
    input {
        width: 80%;
        background-color: #FFF;
        border-radius: 0;
        margin: 0;
    }

    button {
        width: 17%;
        padding: 1.5vh;
        font-size: 2vh;
        border: 0px;
        border-radius: 1vh;
        background-color: #e95151;
        color: #FFFFFF;
        cursor: pointer;

        &:hover {
            background-color: #892424;
            transition: all 0.1s ease-in-out;
        }
    }
}

.addDateButton {
    padding: 1vh 3vh;
    font-size: 2vh;
    border: 0px;
    border-radius: 1vh;
    background-color: #00a76a;
    color: #FFFFFF;
    cursor: pointer;

    &:hover {
        background-color: #25724c;
        transition: all 0.1s ease-in-out;
    }
}

.submitButton {
    margin-top: 5vh;
    padding: 3vh 16vh;
    font-size: 3vh;
    border: 0px;
    border-radius: 3vh;
    background-color: #a089fd;
    color: #FFFFFF;
    cursor: pointer;

    &:hover {
        background-color: #7955fb;
        transition: all 0.1s ease-in-out;
    }
}